services:
  awx-api-demo2:
    environment:
      - RMX_AWX_URL=<YOUR AWX URL>
      - RMX_FUNC_LOGGER_ARGS_LENGTH_MAX=20
      - RMX_TEAMS_WEB_HOOK_URL=<YOUR TEAMS WEBHOOK URL>
      - RMX_TEAMS_WEB_HOOK_MESSAGE_DELAY_MSEC=300
      - RMX_LOG_LEVEL=INFO
      - RMX_LOG_LEVEL_DB=WARN

